/* Header Section Start */
body{
    background-color: #EDD263;
}
.logo{
    font-size: 40px;
    color: #3B2D64;
}
.menu a{
    font-size: 20px;
    color: #43413A;
}

.input-area input{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.input-area button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #3B2D64 !important;
    color: white;
}
/* Header Section End */

/* Search Section Start */
.error-message{
    height: 30px;
    margin-bottom: 10px;
}
#input-meal-name{
    background-color: #F8F7F5
}

#searchButton{
    color: white;
    background-color: #F06C4E;
}

#error-text{
    color:  red;
    padding-left: 260px;
    height: 100%;
}
/* Search Section End */

/* Display Section Start */
.meal-image{
    width: 100%;
}

.meal-title{
    text-align: center;
    margin-top: 10px;
}
.meal-card{
    border-radius: 10px;
    background-color: #F8F7F5;
    height: 100%;
    overflow: hidden;
    box-shadow:1px 3px 10px gray;
}

.meal-details-image{
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

#meal-details{
    display: none;
    margin-bottom: 15px;
    background-color: #F8F7F5;
    padding: 20px;
    border-radius: 10px;
}
li{
    font-size: large;
}

ul{
    list-style-type:none;
}
.instructions{
    text-align: justify;
}

.icon-color{
    color: #F06C4E;
}
.meal-details-title{
    margin-top: 15px;
}
/* Display Section End */